.header {
    background-color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
}

.color-picker {
    display: inline-block;
    position: relative;
}

.color-picker-popup {
    position: absolute;
    top: 26px;
    left: 26px;
}

.fa-pen {
    padding: 5px;
}

.fa-pen:hover {
    background-color: #dddddd;
}

.fa-angle-down {
    padding: 5px;
}

.fa-angle-down:hover {
    background-color: #dddddd;
}
